language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "pypy"
# command to install dependencies
install:
  - pip install .
  - pip install numpy
# command to run tests
script: nosetests 