include *.txt
include *.md
recursive-include deap *.cpp *.c *.hpp *.h
recursive-include examples *.py *.csv *.json *.txt *.cpp *.hpp *.h
recursive-include doc *
prune doc/_build
global-exclude .DS_Store
global-exclude *.pyc
